:host {
  display: block;
}

:host .content {
  background-color: #fff;
  height: 5000px;
  padding: 20px;
}

/* some default styles for mode="cover" on core-scaffold */
:host core-scaffold[mode=cover]::shadow core-header-panel::shadow #mainContainer {
  left: 120px;
}

:host core-scaffold[mode=cover] .content {
  margin: 20px 100px 20px 0;
}
