:host {
	display: block;
}
/*:host {
  display: block;
  font-size: 13px;
  overflow-y: auto;
}

:host .location-item {
	height: 230px;
  background-color: #efefef;
  border: 1px solid #ddd;
  margin-bottom: 7px;
}

:host .location-item .name {
	font-size: 15px;
}

:host .location-item .map {
	background-color: white;
	height: 200px;
}
*/
