@import models.ManifestInfo
@import models.User

@(manifestInfo: ManifestInfo, user: Option[User])

@main("Geotracker Service - Create location", user) {
  <div class="col-md-12">
    <div class="row">
      <div class="col-xs-6 col-md-3 well">
        <h2 style="margin-top: 0">Contact</h2>
        <p>
          <a href="https://wasis.nu/mit/blog">Blog</a><br>
          <a href="mailto:cornelius@@wasis.nu">cornelius@@wasis.nu</a><br>
          <a href="https://plus.google.com/+CorneliusLilge">+CorneliusLilge</a><br>
          <a href="https://twitter.com/snellius">@@snellius</a><br>
          <a href="https://www.facebook.com/sne11ius">Facebook</a>
        </p>
        <div>
          <iframe src="https://githubbadge.appspot.com/sne11ius?a=0" style="border: 0;height: 142px;width: 200px;overflow: hidden; margin-top: 5px;" frameBorder="0"></iframe>
        </div>
      </div>
      <div class="col-xs-12 col-md-9">
        <div class="well">
          <h3 style="margin-top: 0;">Wat?</h3>
          <p>
            This is a simple geo tracker web app.
          </p>
          <p class="">
            Powered by <a href="https://github.com/sne11ius/geotracker-service">github.com/sne11ius/geotracker-service</a>
          </p>
          <div style="position: relative; top: -10px;" class="pull-right small">Build: <a href="https://github.com/sne11ius/geotracker-service/tree/@manifestInfo.gitBuildHeadRevision">@manifestInfo.gitBuildHeadRevision</a> @@ @manifestInfo.gitBuildDate</div>
        </div>
      </div>
    </div>
  </div>
}