@(user: models.User, locations: List[NamedLocation])

@main("Geotracker Service - Locations", Some(user)) {
    <div class="col-md-12">
      <div class="row">
        <a class="pull-right btn btn-primary" href="@routes.NamedLocationsController.create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create</a>
      </div>
      <div class="row">
        @if(locations.isEmpty) {
          No locations yet.
        } else {
          Your locations:
          <table class="table table-striped table-hover" id="location-list">
            <colgroup>
              <col width="15%">
              <col width="70%">
              <col width="15%">
            </colgroup>
            <tr>
              <th>Name</th>
              <th>Map</th>
              <th>Details</th>
            </tr>
            @for((l, index) <- locations.zipWithIndex) {
              <tr>
                <td class="name">@l.name</td>
                <td class="map"><div class="map"></div></td>
                <td class="details"><a href="@routes.NamedLocationsController.details(l.id.get)">Details</a></td>
              </tr>
            }
          </table>
          <style>
            div.map {
              with: 500px;
              height: 350px;
            }
          </style>
          <script>
            docReady(function() {
              locations = [
                @for((l, index) <- locations.zipWithIndex) {
                  {
                    name: '@l.name',
                    latitude: @l.latitude,
                    longitude: @l.longitude,
                    radius: @l.radius
                  },
                }
              ]
              var maps = $('#location-list div.map');
              for (var i = 0; i < locations.length; ++i) {
                var div = maps[i];
                var loc = locations[i];
                new Maplace({
                  locations: [{
                    lat: loc.latitude,
                    lon: loc.longitude,
                    title: loc.name,
                    show_infowindow: false,
                    circle_options: {
                      radius: loc.radius
                    }
                  }],
                  map_div: div,
                  type: 'circle',
                  shared: {
                    zoom: 12,
                    html: '%index'
                  },
                }).Load();
              }
            });
          </script>
        }
      </div>
  </div>
}
