@(signInForm: Form[com.mohiva.play.silhouette.api.util.Credentials])(implicit env: com.mohiva.play.silhouette.api.Environment[User, _], request: RequestHeader)

@main("Geotracker Service - Sign In") {
  <div class="login-form" layout horizontal center-center fit>
    @request.flash.get("error").map { msg =>
      <div class="error">
        @msg
      </div>
    }
    <form action="@routes.CredentialsAuthController.authenticate()" method="post">
      <paper-input-decorator floatingLabel label="email" type="email">
        <input is="core-input" name="identifier" type="email" required>
      </paper-input-decorator>
      <paper-input-decorator floatingLabel label="password">
        <input is="core-input" type="password" name="password" required>
      </paper-input-decorator>
      <div horizontal layout>
        <div flex></div>
        <paper-button class="colored">
          <input type="submit" value="Sign In">
        </paper-button>
      </div>
      <div horizontal layout class="sign-up">
        <div flex></div>
        <paper-button class="colored">
          <a href="@routes.SignUpController.signUp">
            <span class="label">Sign Up</span>
          </a>
        </paper-button>
      </div>
    </form>
  </div>
}